#flag img{
    height: 25vh;
    margin: 5vh 8vh 5vh 8vh;
}

#flag{
    background-color: white;
    margin-top: 29vh;
    transform: translateY(-50%);
    display: inline-block;
    position: absolute;
    border-radius: 0px 60px 60px 0px;
}
